<%- include("header", {}) %>

<h1 style="text-align: center; margin-top: 20px;"><%= title %></h1>

<p style="text-align: center; margin-top: 20px;">
  Welcome to <%= title %>!
</p>

<p style="text-align: center; margin-top: 20px;">
  <strong><%= title %></strong> is an online platform designed to help you assess cognitive function through scientifically validated tests such as the <strong>MoCA (Montreal Cognitive Assessment)</strong>. These tests aim to assist in the early detection of potential signs of neurodegenerative diseases.
</p>

<p style="text-align: center; margin-top: 20px;">
  Our platform is simple and accessible: just register, complete the test, and our doctors will review it and provide feedback on your cognitive health.
</p>

<p style="text-align: center; margin-top: 20px;">
  We work with a dedicated team of professionals with extensive experience in neurology, cognitive science, and psicology to ensure reliability and support.
</p>

<p style="text-align: center; margin-top: 20px; color: gray; font-size: 0.9em;">
  <em>Note: This platform is not intended to provide a clinical diagnosis. It serves as a first step towards identifying early warning signs and encouraging further medical consultation if needed.</em>
</p>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <img src="/moca images/homePageImage.jpg" alt="Cognitive Test" style="max-width: 80%; height: 10%; width: 30%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);" />
</div>

<%- include("footer", {}) %>

