<%- include("header", {}) %>

<h1 style = "text-align: center; margin-top: 20px">My profile</h1>

<% if (user.role == 'Administrator'){%>
    <div class="button-container">
        <a href="/update-profile" class="custom-button">Update profile</a>
      </div>
    
    <div class = "container mt-5">
        <div class="card mb-5 p-4 shadow-sm" style="border-radius: 15px;">
            <div class="row align-items-center g-0">
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><strong>Username:</strong> <%= user.username %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } %>

<% if (user.role == 'Patient'){%>
    <div class="button-container">
        <a href="/update-profile" class="custom-button">Update profile</a>
      </div>
    
    <div class = "container mt-5">
        <div class="card mb-5 p-4 shadow-sm" style="border-radius: 15px;">
            <div class="row align-items-center g-0">
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><%= patient.name %> <%= patient.lastname %></h3>
                        <p class="card-text"><strong>Date of Birth:</strong> <%= formatDate(patient.dob) %></p>
                        <p class="card-text"><strong>Phone number:</strong> <%= patient.phone %></p>
                        <p class="card-text"><strong>Gender:</strong> <%= patient.gender %></p>
                        <p class="card-text"><strong>Doctor: </strong> <%= doctor.name %> <%= doctor.lastname %></p>
                        <p class="card-text"><strong>Username:</strong> <%= user.username %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% } %>

<% if (user.role == 'Doctor'){%>

    <div class="button-container">
        <a href="/update-profile" class="custom-button">Update profile</a>
      </div>
    
    <div class = "container mt-5">
        <div class="card mb-5 p-4 shadow-sm" style="border-radius: 15px;">
            <div class="row align-items-center g-0">
                <div class="col-md-3 text-center">
                    <% if (doctor.image) { %>
                        <img src="/<%= doctor.image %>" alt="<%= doctor.name %>" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover; margin-right: 15px;">
                    <% } else { %>
                        <img src="/uploads/default.png" class="img-fluid rounded-start" alt="Default image">
                    <% } %>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><%= doctor.name %> <%= doctor.lastname %></h3>
                        <p class="card-text"><strong>Specialty:</strong> <%= doctor.specialty %></p>
                        <p class="card-text"><strong>License Number:</strong> <%= doctor.license_number %></p>
                        <p class="card-text"><strong>Description:</strong> <%= doctor.description %></p>
                        <p class="card-text"><strong>Username:</strong> <%= user.username %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }%>



<%- include("footer", {}) %>
