<%- include("header", {user: user}) %>
<h1 style="text-align: center; margin-top: 20px">Tests</h1>


<div class="button-container">
  <a href="/create-doctor" class="custom-button">Perform test</a>
</div>


<div class="container">
  <div class="row justify-content-center">
    <% if (tests && tests.length > 0) { %>

      <% tests.forEach(test => { %>
        <div class="col-md-6 mb-4">
          <div class="cardMovement mb-4 d-flex flex-row align-items-center" style="padding: 10px; background-color: #f0f0f0; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title"><%= test.testType %></h5>
              <p class="card-text"><strong>Date:</strong> <%= test.date %></p>
              <% if (test.evaluation) { %>
                <p class="card-text"><strong>Evaluation: </strong> <%= test.evaluation %></p>
              <% } else { %>
                    <p class="card-text"><strong>Evaluation: </strong> <%= "pending." %></p>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %> 
    
    <% } else { %>
      <p>No tests have been performed yet.</p>
    
    <% } %>
  </div>
</div>

<%- include("footer", {}) %>

